

.card-section{
    display:flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 6rem;
    text-align: center;
}

ui5-card.small{
    width: 15vw;
    height: 30vh;
    text-align: center;
}


.card-body{
    display:flex;
    flex-direction: column;
    height: 15vh;
    align-items: center;
    justify-content: center;
    text-align: center;    
    padding: 1rem;
}

.ui5-card-header{
    text-align: center;
    display:flex;
}

