

.card-section{
    display:flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
    text-align: center;
    min-width: 30vw;
}

ui5-card.small{
    min-width: 350px;
    height: 30vh;
    min-height: 300px;
    text-align: center;
}


.card-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    padding: 1rem;
}

.ui5-card-header{
    text-align: center;
    display:flex;
}

@media (max-width:1160px){
    .card-section{
        display:flex;
        gap: 4rem;
        justify-content: center;
        margin-top: 6rem;
        align-items: center;
        text-align: center;
        min-width: 30vw;
        flex-direction: column !important;
    }
}
