ui5-label.label-heading {
    display: block;
    margin-bottom: 1rem;
}

ui5-input#searchInput{
    margin-bottom: 1rem;
    width: 75%;
}

*{
    --sapList_HeaderBackground: #B40001;
}

.popup{
    background: #B40001;
    height: 10vh;
    width: 20vw;
}

td {
    min-width: 10vw !important;
}
.Column-span{
    line-height: 1.4rem;
    min-width: 10vw !important;
}

.table-column{
    min-width: 10vw;
    width: 12rem;
    background: red;
    color: white;
}

:host([first]) th{
    background: yellow !important; 
}

th{
    background: red !important;
}

body[part="column"]{
    background: pink !important;
}

.submit-btn{
    margin-right: 10px;
}

.delete-btn{
    margin-left: 10rem;
}

.popup-search{
    display:flex;
    box-shadow: 2px 2px #888888;
    justify-content: center;
    padding:1rem;
    background: rgb(180,0,1, 0.9);
    color: white;
    width: auto;
    height: auto;
}

.popup-search div input{
    border:none;
    padding:0.2rem;
    padding-left: 0.4rem;
    border-radius: 10px;
}


.search-ui {
    list-style-type: none;
    cursor: pointer;
    text-align: start;
}

