.Column-span{
    line-height: 1.4rem;
    max-width: 20rem;
    min-width:20rem;
    margin-right: 3rem;
    width: 20rem;
}

.table-column{
    margin-right: 3rem;
    min-width:25rem;
    width: 22rem;  
}

th, td {
    min-width: 10vw;
}


.table-cell{
    display:flex;
    flex-wrap: nowrap;
    gap:2;
}
